/********** Template CSS **********/

:root {
    --primary: #0b513365;
    --secondary: #008b8b;
    --light: #F6FFF2;
    --dark: #263A4F;
}

#logo {
    font-size: 25px;
    color: var(--primary);
    font-weight: 100;
}

.btn {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 0;
    z-index: 99;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 30px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #221f1f;
    text-transform: uppercase;
    transition: .5s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: var(--secondary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link {
        padding: 10px;
    }
}

.bg-hero {
    background: url(../img/bg2.jpg) top right no-repeat;
    background-size: cover;
}

.service-item {
    box-shadow: 0 0 45px #EDEDED;
    transition: .5s;
}

.service-item:hover {
    color: var(--light);
    background: var(--primary) !important;
}

.service-item:hover i {
    background-image: linear-gradient(var(--light), var(--secondary));
}

.service-item:hover h4 {
    color: var(--light);
}
